body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;

}


input[type="date"] {
  width: 15%;
  padding: 8px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

button {
  width: 15%;
  padding: 10px;
  background-color: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #5a67d8;
}

#result {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
   align-items: center;
  justify-content: center;
}

#done {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

#dtwo {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

